html
  head
    title #{pageTitle}
  body
    .container
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nam eaque maiores culpa praesentium ut molestiae sequi, ratione aspernatur modi, laudantium sunt iure eveniet mollitia. Iusto quisquam officia explicabo iure.